{{template "header" .Current.Name}}
<div class="theme-dark columns">
    <div class="column is-one-quarter">
    {{template "tabs" .Channels}}
    </div>
    <div class="messages-wrapper column">
    {{range .Pins}}
        <div class="message-group hide-overflow">
            <div class="avatar-large animate"
                 style="background-image: url('https://cdn.discordapp.com/avatars/{{.Author.ID}}/{{.Author.Avatar}}.png');"></div>
            <div class="comment">
                <div class="message first" style="background-color: unset;">
                    <div class="body">
                        <h2 class="old-h2"><span class="username-wrapper"><strong
                                class="user-name">{{.Author.Username}}#{{.Author.Discriminator}}</strong></span><span class="highlight-separator"> - </span><span
                                class="timestamp">{{.Timestamp.Parse.Format "Jan _2 15:04:05"}}</span></h2>
                        <div class="message-text">
                            <div class="markup">{{.ContentWithMentionsReplaced}}</div>
                        </div>
                    </div>
                {{if .Attachments}}
                    <div class="accessory">
                    {{range .Attachments}}
                        <div class="attachment-image">
                            <a href="{{.URL}}" target="_blank" rel="noreferrer"><img class="image" src="{{.URL}}" href="{{.URL}}"></a>
                        </div>
                    {{end}}
                    </div>
                {{end}}
                </div>
            </div>
        </div>
    {{end}}
    </div>
</div>
{{template "footer"}}